<%- include('../../header.ejs') %>

  <section class="dashboard-wrap mtb-40 " style="padding:40px;">
    <div class="container">
      <div class="body-content">
        <div class="row">
          <div class="col-md-3">
            <div class="dash-left">
              <ul>
                <li class="active"><a href="/admin/dashboard">Dashboard</a></li>
                <li><a href="/admin/blogdisplay" class="active">Blogs</a></li>
                <li><a href="/admin/categorydisplay">Categories</a></li>
                <li><a href="/admin/contactdisplay">Contact</a></li>
                <li><a href="/admin/aboutdisplay">About</a></li>
                <li><a href="/logout">Logout</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-9">
            <div class="dash-right">
              <div class="dash-header">
                <div class="dash-title">
                  <h1>Blogs</h1>
                </div>
                <div class="dash-nav">
                  <!-- Button trigger modal -->
                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                    Add Blog
                  </button>
                </div>
              </div>
              
              <table class="table table-bordered table-striped">
                <tr>
                  <th>#ID</th>
                  <th>Title</th>
                  <th>description</th>
                  <th>Image</th>
                  <th>Action</th>
                </tr>
                <%i=1%>
                
                <% bd.forEach((bd)=>{%>
                  <tr>
                    <td>
                      <%=i++%>
                    </td>
                    <td>
                      <%=bd.title%>
                    </td>
                    <td>
                      <%=bd.description%>
                    </td>
                    <td>
                      <img src="<%=bd.image.url%>" alt="img" width="50px" height="50px">
                    </td>
                    <td style="width: 250px;text-align: center;">
                      <a href="/admin/blogview/<%=bd._id%>" class="btn btn-info">View</a>
                      <a href="/admin/blogedit/<%=bd._id%>" class="btn btn-success">Edit</a>
                      <a href="/admin/blogdelete/<%=bd._id%>" class="btn btn-danger">Delete</a>
                    </td>
                  </tr>
                  <% })%>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content"> 
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <form method="post" action="/bloginsert" encType="multipart/form-data">
            <div class="form-group form-row">
              <label class="col-md-3 required">Title</label>
              <div class="col-md-9">
                <input type="text" name="title">
              </div>
            </div>
            <div class="form-group form-row">
              <label class="col-md-3 required">Description</label>
              <div class="col-md-9">
                <textarea name="description" class="form-control" rows="5" placeholder="Enter Description"></textarea>
              </div>
            </div>
            <div class="form-group form-row">
              <label class="col-md-3 required">Image</label>
              <div class="col-md-9">
                <input type="file" name="blog_img">
              </div>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
         </form>
        </div>
      </div>
    </div>
  </div>
  </div>
  <%- include('../../footer.ejs') %>