<%- include('../../header.ejs') %>

    <section class="mtb-40">
        <div class="container">
            <div class="body-content">
                <div class="row">
                    <div class="col-md-3">
                        <div class="dash-left">
                            <ul>
                                <li class="active"><a href="/admin/dashboard">Dashboard</a></li>
                                <li><a href="/admin/blogdisplay">Blogs</a></li>
                                <li><a href="/admin/categorydisplay" class="active">Categories</a></li>
                                <li><a href="/admin/contactdisplay">Contact</a></li>
                                <li><a href="/admin/aboutdisplay">About</a></li>
                                <li><a href="/logout">Logout</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="dash-right">
                            <div class="dash-header">
                                <div class="dash-title">
                                    <h1 style="text-align: center;">Categories  Display</h1>
                                </div>
                            </div>
                            <table class="table table-bordered table-striped">
                               <thead>
                                <tr>
                                    <th>#ID</th>
                                    <th>Category</th>
                                    <th>Posted On</th>
                                </tr>
                                </thead>

                                    <%i=1%>
                                        <% bc.forEach((items)=>{%>
                                <tbody>
                                 <tr>
                                    <td data-label="id">
                                        <%=i++%>
                                    </td>
                                    <td data-label="tittle">
                                        <%=items.title%>
                                    </td>
                                    <td data-label="createdAt">
                                        <%=items.createdAt.toLocaleDateString()%>
                                    </td>
                                   </tr>
                                </tbody>

                                <%})%>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <%- include('../../footer.ejs') %>